/* --------- my macbook air screen ----- */
@media (min-width: 500px) and (max-width: 1200px) {
  }

/*---------Other Screens---------------*/

  body {
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #466BB0;
  }

#getstarted{
    bottom: 10%;
    left: 18%;
    position: absolute;
    background-color: #29B9E9; 
      border: none;
      color: white;
      padding: 23px 55px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 25px;
  }

.flickity-prev-next-button {
    display: none;
  }

  /* position dots in gallery */
  .flickity-page-dots {
    bottom: 30%;
    left: 15%;

  }
  /* white circles */
  .flickity-page-dots .dot {
    width: 9px;
    height: 9px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
  }

  .gallery-cell {
  width: 70%;
  overflow: hidden;
 /* margin-right: 10px;*/
  background: red;
  display:inline-block;
  position:relative;
  padding-right: 0;
}

/* ---------------------------------------------------------------- */
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  
  body {
      margin: 0;
      font: 16px/1 sans-serif;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      background: green;
  }

  .gallery-cell {
  width: 100%;  full width 
  height: auto; /* height of gallery */
 /* margin-right: 10px;*/
  background: red;
  display:inline-block;
  position:relative;
  padding-right: 0;
}


  #getstarted{
    bottom: 13%;
    left: 40px;
    position: absolute;
    background-color: #29B9E9; 
      border: none;
      color: white;
      padding: 23px 55px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 25px;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

  #getstarted{
  bottom: 50%;
  left: 40px;
/*  position: absolute;*/
  background-color: #29B9E9; 
    border: none;
    color: white;
    padding: 23px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.flickity-prev-next-button {
    display: none;
  }

  /* position dots in gallery */
  .flickity-page-dots {
    bottom: 25%;
    left:10px;
  }
  /* white circles */
  .flickity-page-dots .dot {
    width: 9px;
    height: 9px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
  }


}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {


  .flickity-prev-next-button {
    display: none;
  }

  /* position dots in gallery */
  .flickity-page-dots {
    bottom: 25%;
    left:10px;
  }
  /* white circles */
  .flickity-page-dots .dot {
    width: 9px;
    height: 9px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
  }

}



/* ---------------------------------------------------------------- */


.gallery-cell a {
    position:absolute;
    top:60%;
 /*   left:15px;*/
    background: blue;
    color:#FFF;
}
.gallery-cell h2 {
    position:absolute;
    top: 20%;
    font-size:350%;
    left:40px;
    font-weight: 500;
    line-height: 110%;
    color: white;
}

img.make-it-fit {
    width: 100%;
    height: 100%;
}



#header{
  background: #0C1B31;
      width: 100%;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10000;
}

.ibm {
  margin-top: 10px;
  margin-left: 20px;
}

.adobe {
  margin-top: 10px;
  margin-right: 20px;
}
}

